.chart-rendimiento {
  padding: 30px 40px;
}

.chart-title {
  color: #0b183a;
  position: relative;
  margin-bottom: 40px;
}

.chart-title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 8%;
  height: 3px;
  background-color: #0b183a;
}
