.sidebar {
  width: 250px;
  height: 100%;
  background-color: #fff;
  color: #333;
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.logo-sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 70px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-name {
  margin-top: 0.7rem;
  margin-bottom: 0.35rem;
  font-weight: bold;
}

.profile-image {
  position: relative;
}

.profile-status {
  position: absolute;
  bottom: -0.5rem;
  left: calc(50% + 0.8rem);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #01ff01;
}

.profile-subtitle {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.8rem;
  color: rgb(51, 51, 51);
}

.sidebar-menu-bottom {
  height: 100%;
  display: flex;
  align-items: end;
  padding: 0;
}
